body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    width: 1600px;
    height: 2534px;

}

.banner {
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 1321px;
    height: 646px;
    margin-left: 160px;
    padding-right: 160px;
    margin-top: 50px;
    border-radius: 30px;
}

.news-headline,
h1,
p {
    color: white;
}


h1 {
    position: absolute;
    width: 531px;
    height: 240px;
    margin-top: 100px;
    margin-left: 106px;
    font-weight: 700;
    font-size: 70px;

}

p {
    width: 506px;
    height: 78px;
    margin-top: 421px;
    margin-left: 106px;
    font-weight: 400;
    font-size: 16px;
}


.news-image {
    width: 581px;
    height: 613px;
    margin-top: 33px;
    margin-left: 200px;
}

.watch-live {
    width: 187px;
    height: 56px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    background-color: #DD0000;
    padding: 16px 25px 10px 25px;
    margin-left: 106px;
    border: 2px solid red;
    border-radius: 5px;
}

.fa-play {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 16px;
}

/* news styles */

.blog-image {
    position: absolute;
    border-radius: 10px, 10px, 0, 0;
    width: 312px;
    height: 175px;
    margin-left: 476px;
    margin-top: 826px;
}

.blog {
    box-sizing: border-box;
    width: 312px;
    height: 362px;
    left: 476px;
    top: 826px;
    border: 2px solid gray;
    border-radius: 10px;
}

.blog-headline {
    position: absolute;
    width: 272px;
    height: 54px;
    left: 496px;
    top: 1068px;
    font-weight: 600;
    font-size: 12px;
    color: #161616;
}

.transfer {
    position: absolute;
    width: 100px;
    height: 32px;
    margin-left: 496px;
    margin-top: 1021px;
    box-sizing: border-box;
    border: 1px solid #161616;
    border-radius: 5px;


}

span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 67px;
    height: 24px;
    margin-left: 17px;
    margin-right: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.fa-clock {

    position: absolute;
    width: 143px;
    height: 26px;
    margin-left: 496px;
    margin-top: 1142px;
}